body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /* height is 100% of the viewport */
  height: 100vh;
}

a {
  color: #00B7FF;
}

img.cover {
  width: 50%;
  height: 50%;
}

div.buttons {
  margin-top: 10px;
  width:300px;
  flex-flow:row wrap;
  display: flex;
}

div.buttons div.button {
  margin: 10px;
}

div.buttons div.button label {
  margin: 5px;
}

#landing {
  /* vertical center all children */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;

  /* center on the page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#clockdiv > div{
  padding: 50px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 50px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
  font-size: 96px;
  min-height: 196px;
}

.smalltext{
  padding-top: 50px;
  font-size: 48px;
}

/* slide style */
.slide {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 100%;
  padding: 20px;
  /* black background */
  background: -webkit-linear-gradient(top, #000 0%, #000 100%);

  /* vertically align children */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#renderedImage {
    /* max width is 90% of the window */
    max-width: 90vw;
    max-height: 90vh;
}

div.nav {
  /* display inline */
  display: inline-block;
  margin-top: 10px;
}

#restartButton {
  font-size: 6px;
  background-color: #444;
  margin: 10px;
}
#nextButton {
  font-size: 18px;
  background-color: #444;
  margin: 10px;
}